
.DS_Store
.vscode/launch.json
untitled.bbprojectd/philipregan.bbprojectsettings
untitled.bbprojectd/project.bbprojectdata
untitled.bbprojectd/Scratchpad.txt
untitled.bbprojectd/Unix Worksheet.worksheet
